<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" padding="'true'">
    <div class="list card padding" align="center">
        <img ng-src="img/inzhoop.png" style="width: 150px; height: 150px;">
        <p>
            {{hello}}
        </p>
        <p>
            LΞTH v.0.1
        </p>
    </div>
    </ion-content>
</ion-view>
