<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <h1 class="title">Add New Friend</h1>
    <div class="buttons">
      <button class="button button-clear ion-ios-close" ng-click="closeSaveAddressModal()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'">
    <div class="list list-borderless">

      <div class="item">
        <form ng-submit="saveAddr(name,comment,addr)">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nickname</span>
            <input type="text" ng-model="name" placeholder="Nickname">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Comment</span>
            <input type="text" ng-model="comment" placeholder="Comment">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Address</span>
            <input type="text" ng-model="addr" placeholder="Address">
          </label>
          <button class="button button-block button-assertive" type="submit">Save</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
