<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <button menu-toggle="left" class="button button-clear" ng-click="closeSaveAddressModal()" ng-hide="fromAddressBook">
      <i class="icon ion-ios-close"></i>
    </button>
    <div class="h1 title">Add Friend</div>
    <button menu-toggle="right" class="button button-clear" on-touch="scanAddr()">
      <i class="icon ion-ios-camera"></i>
    </button>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'">
    <div class="list list-borderless">
      <div class="item">
        <form ng-submit="saveAddr(name,addr,comment)">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" ng-model="name" placeholder="Name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Wallet Address</span>
            <input type="text" ng-model="addr" placeholder="Wallet Address" ng-valid>            
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Comment</span>
            <input type="text" ng-model="comment" placeholder="Comment">
          </label>          
          <button class="button button-block button-energized" type="submit" ng-disabled="!isValidAddr(addr)">Save</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
