<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <h1 class="title">Add to Addressbook</h1>
    <div class="buttons button-rigth button-left">
      <button class="button button-clear" ng-click="scanAddr()" ng-hide="fromAddressBook">
        <i class="icon ion-ios-camera"></i>
      </button>
      <button class="button button-clear" ng-click="closeSaveAddressModal()">
        <i class="icon ion-android-close"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'">
    <div class="list list-borderless">
      <div class="item">
        <form ng-submit="saveAddr(name,addr,comment)">
          <label class="item item-input item-floating-label">
            <span class="input-label">Name</span>
            <input type="text" ng-model="name" placeholder="Name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Wallet Address</span>
            <input type="text" ng-model="addr" placeholder="Wallet Address">            
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Comment</span>
            <input type="text" ng-model="comment" placeholder="Comment">
          </label>          
          <button class="button button-block button-energized" type="submit">Save to Add</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
