<ion-view view-title="Address">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" >
    <div class="list list-borderless">
      <div class="item item-divider">
        <i class="icon ion-ios-barcode-outline"></i>
        Your Address
      </div>
      <div class="item text-center" ng-click="showAddress()">
        <qr text="qrcodeString" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
        <p class="padding">
          <a href="#" class="subdued">{{qrcodeString}}</a>
        </p>
      </div>
      <div class="item tabs item-input">
        <label class="item item-stacked-label">ETH: </label>  
        <input type="number" pattern="[0-9]*" placeholder=" amount in eth (optional)" ng-model="amountPayment">
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <!--a class="tab-item" href="#" ng-click="requestPayment()">
          <i class="icon ion-archive"></i>
          Request
        </a-->              
        <a class="tab-item" href="#" ng-click="shareByEmail(amountPayment)">
          <i class="icon ion-ios-email-outline"></i>
          Email
        </a>
        <a class="tab-item" href="#" ng-click="shareBySms(amountPayment)">
          <i class="icon ion-ios-chatbubble-outline"></i>
          Sms
        </a>
        <a class="tab-item" href="#" ng-click="copyAddr()">
          <i class="icon ion-clipboard"></i>
          Copy
        </a>        
      </div>
    </div>
  </ion-content>
</ion-view>
