<ion-view view-title="ΞTH {{balance}}">
  <ion-content class="has-header has-tabs" >
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
    <ion-slide-box auto-play="true" does-continue="false" show-pager="true">
      <ion-slide>
        <div>
          <img src="img/banners/header1.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/banners/header2.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div ng-bind-html="appContainer">
      <div class="list card padding"></div>
    </div>
    </ion-content>
</ion-view>
