<ion-view view-title="Chats">
 
   <ion-content class="chat" delegate-handle="chatScroll">
   <div class="message-list">
      <div ng-repeat="chat in chats | orderBy:'chat.timestamp'"
        class="message-wrapper">
        <div class="message" ng-class="chat.from === myidentity ? 'message-mine' : 'message-other'">
          <div class="message-text"><img ng-src="{{chat.identity}}"> {{chat.message}}</div>
          <span class="message-timestamp">{{chat.timestamp | date: 'HH:MM'}}</span>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" keyboard-attach class="bar-stable">
    <div class="bar bar-footer bar-stable has-tabs item-input-inset">
      <label class="item-input-wrapper">
            <i class="icon ion-edit placeholder-icon"></i>
            <input type="text" dir="auto" placeholder="type message" ng-model="text.message" on-focus="inputUp()"
        on-blur="inputDown()">     
      </label>
      <button class="icon button-icon ion-ios-close-empty dark" ng-if="text.message.length > 0" on-touch="text.message=''"></button>
      <button class="icon button-icon ion-ios-paperplane positive" ng-click="sendMessage(text.message); text.message=''""></button>
    </div>
  </ion-footer-bar>
</ion-view>

        
        
