<ion-view view-title="Chats">
  <ion-header-bar class="bar bar-subheader bar-stable" hide-on-scroll="true">
   <tags-input ng-model="topicsList" placeholder="Add a topic" on-tag-added="addTopicFilter($tag)" on-tag-removed="removeTopicFilter($tag)"></tags-input>
  </ion-header-bar>
   <ion-content class="chat" delegate-handle="chatScroll">
   <div class="message-list">
      <div ng-repeat="chat in chats | orderBy:'chat.timestamp'"
        class="message-wrapper">
        <div ng-class="chat.message.from === myidentity ? 'bubble bubble-mine' : 'bubble bubble-other'">
            <img ng-src="{{chat.identity}}" ng-class="chat.message.from === myidentity ? 'image image-mine' : 'image image-other'" on-hold="test(chat.message.from)"> 
          <div class="message" ng-class="chat.message.from === myidentity ? 'message-mine' : 'message-other'">
            <div class="message-text" ng-if="chat.message.text.length">{{chat.message.text}}</div>
            <img ng-src="{{chat.message.image}}" ng-if="chat.message.image.length"/>
            <span class="message-timestamp">{{isFriend(chat.message.from)}} {{chat.timestamp | date: 'HH:mm'}}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>  
  <div align-title="left" keyboard-attach class="bar bar-footer bar-stable has-tabs item-input-inset">
    <button class="button button-clear button-icon button-positive icon ion-ios-upload-outline" ng-click="shareItems()"></button>
    <label class="item-input-wrapper">
      <input
        ng-model="text.message"
        on-return="sendMessage()"
        dir="auto"
        type="text"/>
    </label>
    <span ng-if="text.message.length > 0">
      <button ng-click="sendMessage()" class="button button-clear button-positive">
          <i class="icon ion-ios-paperplane"></i>
      </button>
    </span>
    <span ng-if="!text.message || text.message.length === 0">
      <button class="button button-clear button-icon button-positive icon ion-ios-camera-outline" ng-click="getPhoto()"></button>
      <!--i class="buttons-seperator icon ion-android-more-vertical"></i>
      <button class="button button-clear button-icon button-positive icon ion-ios-mic-outline"></button-->
    </span>
  </div>
</ion-view>

        
        
