<ion-view view-title="LΞTH" can-swipe-back="false">
  <ion-content class="has-header has-tabs" >
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
    <ion-slide-box auto-play="true" does-continue="false" show-pager="true">
      <ion-slide>
        <div>
          <img src="img/banners/header1.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/banners/header2.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="button-bar padding">
      <button class="{{filterStoreApps}}" ng-click="fromStore(true)">ÐAppleths Store </button>
      <button class="{{filterLocalApps}}" ng-click="fromStore(false)">Installed </button>
    </div>
    <ion-list>
      <ion-item class="item item-thumbnail-left item-icon-right"  ng-repeat="dapp in listApps | filter:{Network:nameNetwork}"
          type="item-text-wrap" ng-href="&#35;/app/dappleth-run/{{dapp.GUID}}">
          <img src="{{dapp.Logo}}"/>
            <h2>{{dapp.Company}}</h2>
            <p>{{dapp.Description}}</p>
            <i class="icon ion-chevron-right icon-accessory" ng-hide="!flagApps"></i>
            <i class="icon ion-ios-cloud-download-outline positive" ng-hide="flagApps" ng-click="installDapp(dapp.GUID)"></i>  
      </ion-item>
    </ion-list>
    <div ng-bind-html="appContainer">
    </div>
    </ion-content>
</ion-view>
