<ion-view view-title=" " hide-tabs cache-view="false">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button>
      <span class="badge badge-energized" ng-hide="msgCounter+DMCounter==0"> {{msgCounter + DMCounter}}</span>    
    </ion-nav-back-button>  
  </ion-nav-bar> 
  <ion-header-bar align-title="center" class="bar-assertive">
  <h1 class="buttons title">
      <img ng-src="{{activeApp.Logo}}" height="45px" width="auto">
      <span>&nbsp;{{activeApp.Description | strLimit: 20 : 0}}</span>
  </h1>
  <div class="buttons">
    <button id="rightBtnHeader" class="button"></button>
  </div>
  </ion-header-bar> 
  <ion-content class="has-header" delegate-handle="chatDappScroll">
  <ion-refresher pulling-txt="load" on-refresh="refresh(activeApp.GUID)"></ion-refresher>
    <div ng-bind-html="appContainer" id="appContainer"></div>
    <ion-scroll direction="y" class="chatDapp message-list" ng-if="chatBoard">
      <div id="chatDappDiv" ng-repeat="chat in DAPPchats | filter:isFromDapp | orderBy:'message.time'"
        class="message-wrapper">
        <div ng-class="chat.message.from === activeApp.Address ? 'bubble bubble-mine' : 'bubble bubble-other'">
            <img on-hold="chooseDappAction(activeApp)" ng-src="{{chat.identity}}" ng-class="chat.message.from === activeApp.Address ? 'rounded image image-mine' : 'rounded image image-other'""> 
          <div class="message" ng-class="chat.message.from === activeApp.Address ? 'message-mine' : 'message-other'" on-hold="chooseDappAction(activeApp)">
            <div class="message-text" ng-if="chat.message.text.length" ng-bind-html="chat.message.text"></div>
            <img ng-src="{{chat.message.image}}" height="100px" width="auto" ng-if="chat.message.image.length"/>
            <span class="message-timestamp">{{isFriend(chat.message.from) | strLimit: 5 : 0}} {{chat.message.time == undefined ? 'outdated v.' : chat.message.time | date: 'HH:mm'}}</span>
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <button id="leftButton" class="button"></button>
    <h2 class="title">
      <button id="centerButton" class="button"></button>
    </h2>
    <button id="rightButton" class="button"></button>
  </ion-footer-bar>
</ion-view>
