<ion-view view-title="LΞTH">
  <ion-content class="has-header has-tabs" >
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
    <ion-slide-box auto-play="true" does-continue="false" show-pager="true">
      <ion-slide>
        <div>
          <img src="img/banners/header1.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <img src="img/banners/header2.png"  height="150" ng-click="nextSlide()"/>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="button-bar padding">
      <button class="button button-small button button-positive">ÐAppleths Store </button>
      <button class="button button-small button-outline button-positive">Installed </button>
    </div>
    <div ng-bind-html="appContainer">
      Nothing to install ...
    </div>
    </ion-content>
</ion-view>
