<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Start with Entropy</h1>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'" >
    <div class="list card">
      <div class="item">
        <i class="badge badge-balanced">- {{shakeCounter}}</i>
        <h2>Shake to start!</h2>
      </div>
      <div class="item item-image">
        <img class="{{classShake}}" ng-src="img/shake{{shakeCounter}}.png"/>
      </div>
        <button class="button button-clear button-positive " ng-click="goLogin('')">skip <i class="ion-ios-fastforward"></i></button>
    </div>
    <div class="list card">
      <span class="item item-input">
        <textarea ng-model="restoreSeed"  rows="2" placeholder="insert seed passphrase from backup to restore an existing wallet"></textarea>
      </span>
      <button class="button button-clear button-positive " ng-click="restoreLogin(restoreSeed)">Restore from seed <i class="ion-ios-fastforward"></i></button>
    </div> 

  </ion-content>
</ion-modal-view>