<ion-view view-title="{{friend.name}}">
  <ion-nav-bar class="bar-stable bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header has-tabs" padding="'true'">
      <div class="list card text-center">
       <div class="item">
         <img class="rounded" ng-src="http://ipfs.io/ipfs/{{friend.face}}" style="width: 64px; height: 64px">
         <p class="padding">
           {{friend.name}} {{friend.surname}}
         </p>
         <p class="padding">
           {{friend.addr}}
         </p>
         <a class="button button-outline button-positive" href="#/app/wallet/{{friend.addr}}"> Pay </a>
       </div>
      </div>
    </ion-content>
</ion-view>
