<ion-view view-title="{{friend.name}}">
  <ion-nav-bar class="bar-stable bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <div class="list has-header">
    <div class="item item-thumbnail-left">
      <img class="rounded" ng-src="{{friend.icon}}"> 
      <p>{{friend.addr}}</p>
      <div>{{friendBalance | currency:"Ξ "}}</div>
      <a class="button button-icon icon ion-ios-list-outline dark" ng-href="#/app/transactions/{{friend.addr}}"> List </a>
      <a class="button button-icon icon ion-social-bitcoin-outline balanced" ng-href="#/app/wallet/{{friend.addr}}"> Pay</a>
    </div>
  </div>   
  <ion-content class="has-header has-footer has-chat-header has-chat-footer chat" delegate-handle="chatScroll">    
    <div class="message-list has-chat-header has-chat-footer">
      <div ng-repeat="chat in DMchats | filter:isFromTo | orderBy:'chat.timestamp'"
        class="message-wrapper">
        <div ng-class="chat.message.from === myidentity ? 'bubble bubble-mine' : 'bubble bubble-other'">
          <img ng-src="{{chat.identity}}" ng-class="chat.message.from === myidentity ? 'image image-mine' : 'image image-other'" > 
          <div class="message" ng-class="chat.message.from === myidentity ? 'message-mine' : 'message-other'" on-hold="msgAction(chat.message)">
          <div class="message-text" ng-if="chat.message.text.length" ng-bind-html="chat.message.text"></div>
          <img ng-src="{{chat.message.image}}" ng-if="chat.message.image.length"/>
            <span class="message-timestamp">{{chat.timestamp | date: 'HH:mm'}}</span>
        </div>
      </div>     
    </div>
  </div>
  </ion-content>
  <div align-title="left" keyboard-attach class="bar bar-footer bar-stable item-input-inset">
    <button class="button button-clear button-icon button-positive icon ion-ios-plus-empty" ng-click="shareItems()"></button>
    <label class="item-input-wrapper">
      <input
        ng-model="text.message"
        on-return="sendDirectMessage()"
        dir="auto"
        type="text"/>
    </label>
    <span ng-if="text.message.length > 0">
      <button ng-click="sendDirectMessage()" class="button button-clear button-positive">
          <i class="icon ion-ios-paperplane"></i>
      </button>
    </span>
    <span ng-if="!text.message || text.message.length === 0">
      <button class="button button-clear button-icon button-positive icon ion-ios-camera-outline" ng-click="getPhoto()"></button>
      <!--i class="buttons-seperator icon ion-android-more-vertical"></i>
      <button class="button button-clear button-icon button-positive icon ion-ios-mic-outline"></button-->
    </span>
  </div>
</ion-view>