<ion-view view-title="Friends">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header has-tabs" padding="'true'">
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
    <div class="list card">
      <div class="item item-divider">
          <i class="icon ion-card"></i>
          Your Wallet
      </div>
      <div class="item item-body">
          <p><b>Ξ</b> {{balance}}
      </div>
    </div>
    <ion-list class="list card">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-person"></i>
        Your Friends
        <button class="icon button-icon ion-ios-personadd positive" ng-click="addAddress()"></button>
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friends track by $index "
                  type="item-text-wrap" href="#/app/friends/{{friend}}">
            <img ng-src="https://ipfs.io/ipfs/{{friend.face}}">
            <h2>{{friend.name}}</h2>
            <p>{{friend.comment}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>

            <ion-option-button class="button-assertive" ng-click="remove(chat)">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>






