<ion-view view-title="{{'HOST_NODES_TITLE' | translate}}">
  <ion-header-bar class="bar bar-subheader item-input-inset" hide-on-scroll="true">
  	<div class="padding subdued">
  	  {{'Current node runnning on' | translate }} {{nameNetwork}}
  </div>
  </ion-header-bar>
  <ion-content class="has-header has-tabs scrollBg">
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
  <ion-list class="list" show-reorder="false" >
    <ion-item ng-repeat="host in hostsList track by $index" ng-value="host" ng-model="addrHost" ng-click="editHost(host)">
      <i class="icon icon-positive ion-checkmark " ng-show="host==addrHost"></i>
    	{{host}} 
      <ion-option-button class="button-assertive" ng-click="deleteHost($index)">
            <i class="icon ion-ios-trash"></i>
      </ion-option-button>
    </ion-item>
  </ion-list>
  <div class="item item-input">
	<label class="item-input-wrapper"><input type="text" ng-model="newHost" placeholder="type custom host address"></label>
	<button class="button button-clear" ng-click="editHost(newHost)">
	    <i class="icon ion-plus-circled"></i>
	 </button>
	<!--button class="button button-clear" ng-click="deleteHost(newHost)">
		<i class="icon ion-minus-circled"></i>
	</button-->
  </div>
  </ion-content>
</ion-view>