<ion-view view-title="{{item.name}}">
  <ion-nav-bar class="bar-stable bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header has-tabs" padding="'true'">
      <div class="list card">
      <div class="item item-divider">
        <span class="badge badge-assertive">180 wei</span>
        <h2>Balenciaga Pencil</h2>
        <p>Skirt Testurizzata</p>
      </div>
      <div class="item item-body">
        <img class="full-image" src="http://cdn.yoox.biz/35/35276551OM_12_n_f.jpg">
        <p>
          {{item.description}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
    </ion-content>
</ion-view>
