<ion-view view-title="News">
  <ion-nav-bar class="bar-stable bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header has-tabs" padding="'true'">
      <div class="list card">
        <div class="item item-divider">
          <p>{{item.Title}}</p>
        </div>
        <div class="item item-image">
          <img class="full-image" src="{{item.Logo}}">
        </div>
        <div class="item-body">
          <p>
            {{item.Content}}
          </p>
          <span class="badge badge-positive">Your wallet will receive {{item.Revenue}} wei, thanks!</span>
        </div>
          <div class="item">
            <a href="#" class="subdued">1 <i class="subdued icon ion-thumbsup"></i> Like</a>
            <a href="#" class="subdued">5 <i class="icon ion-ios-chatboxes"></i> Comments</a>
            <a href="#" class="subdued">{{item.Revenue}} <i class="icon ion-ios-pricetags"></i></a>
          </div>

      </div>
    </ion-content>
</ion-view>
