<ion-view view-title="{{ 'LANGUAGES_TITLE' | translate}}">
  <ion-header-bar class="bar bar-subheader item-input-inset" hide-on-scroll="true">
  	<div class="padding subdued">
  	  {{'CHOOSE_LANGUAGE' | translate }}
  </div>
  </ion-header-bar>
  <ion-content class="has-header has-tabs scrollBg">
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
  <ion-list class="list" show-reorder="false" >
    <ion-radio ng-repeat="lang in availableLanguages" ng-value="lang.ISO" ng-model="language" ng-click="setLanguage(language)">
    	{{lang.Language}}
    </ion-radio>
  </ion-list>
  </ion-content>
</ion-view>