<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <h1 class="title">Create Wallet</h1>
    <!--div class="buttons">
      <button class="button button-clear ion-ios-close" ng-click="exitApp()"></button>
    </div-->
  </ion-header-bar>
  <ion-content class="has-header" >
    <div class="list">
      <div class="card button-rigth">
        <div class="item item-text-wrap">
          <p>Your keystore seed is</p><br/>
          <p><b>{{randomSeed}}</b></p><br/>
          <p class="subdued">Please write it down on paper, you will need it to restore your keystore. Do not let anyone see this seed or they can take your Ether.</p>          
        </div>
        <button class="button button-icon icon ion-ios-email"  ng-click="sendSeedByEmail()" > Send via Email</button>
      </div>
      <div class="card">          
        <label class="item item-text-wrap">
          Set strong password to encrypt your wallet.
          Set a 4 digit password for rapid access.
        </label>
        <form name="login" ng-submit="Login(randomSeed,password,code)">
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="password" placeholder="8 to 20 digit alphanumeric" required="true" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm</span>
            <input type="password" ng-model="confirmPassword" placeholder="enter password again" required="true" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
          </label>
          <label class="item item-input padding-bottom">
            <span class="input-label">Code</span>
            <input type="password" ng-model="code" pattern="[0-9]*" maxlength="4" minlength="4" placeholder="4 digit code" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
          </label>
          <button ng-disabled="!login.$valid || confirmPassword!=password"   class="button button-block button-energized" type="submit">Start</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
