<ion-view view-title="{{'SETTINGS_TITLE' | translate}}">
  <ion-content class="has-header has-tabs">
    <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
  	<ion-scroll class="list scrollBg" overflow-scroll="true" >
      	<div class="padding subdued item-button-right">Shh settings
      		<button class="button button-clear button-positive" ng-click="saveSettings(shhSettings)">
			Save
		</button></div>
		<div class="item item-input-inset">
		  <div class="col col-70">Message TTL</div>
		  <div class="col">
			<label class="item-input-wrapper">
				<input type="number" ng-model="shhSettings.ttl" placeholder="message time to live">
			</label>
		  </div>
		</div>
		<div class="item item-input-inset">
		  <div class="col col-70">Target PoW</div>
		  <div class="col">
			<label class="item-input-wrapper">
				<input type="number" ng-model="shhSettings.targetPow" placeholder="target pow">
			</label>
		  </div>
		</div>
		<div class="item item-input-inset">
		  <div class="col col-70">Time PoW</div>
		  <div class="col">
			<label class="item-input-wrapper">
				<input type="number" ng-model="shhSettings.timePow" placeholder="time pow">
			</label>
		  </div>
		</div>
      	<div class="padding subdued">Developer URL Store</div>
		<div class="item item-input">
			<label class="item-input-wrapper">
				<input type="text" ng-model="StoreUrl" placeholder="type custom Url Store address"></label>
			<button class="button button-clear" ng-click="editStore(StoreUrl)">
			    <i class="icon ion-edit"></i>
			</button>
			<button class="button button-clear" ng-click="editStore('https://www.inzhoop.com/repository')">
			    <i class="icon ion-ios-undo"></i>
			</button>
		</div>
	</ion-scroll>
  </ion-content>
</ion-view>
