<ion-view view-title="Settings">
  <ion-content>
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
  	<ion-scroll class="list" >
		<!--div class="item divider padding dark" align="center">
			<p>
				<img ng-src="img/inzhoop.png" id="headerSetting">
			    the 1st ΞTH mobile wallet
			</p>
		</div-->
   	 	<div class="padding subdued">Host Provider Address</div>
		<div class="item">
			Network host type
			  <span class="{{badgeNetwork}}">
			  	{{nameNetwork}} ...  
			  	<span class="icon ion-edit" ng-click="enableEditHost(!editableHost)"></span>
			  </span>
			  
		</div>
		<div class="item item-input" ng-if="showEditHost()">
		    <label class="item-input-wrapper"><input type="text" ng-model="addrHost" placeholder="type host address"></label>
		    <button class="button button-clear" ng-click="editHost(addrHost)">
		        <i class="icon ion-plus-circled"></i>
		     </button>
			<button class="button button-clear" ng-click="deleteHost(addrHost)">
				<i class="icon ion-minus-circled"></i>
		    </button>
		</div>
		<div class="item item-select">
				Host
			<select class="item-select" ng-model="addrHost" ng-required="true" ng-init="addrHost" ng-change="editHost(addrHost)">
				<option ng-repeat="host in hostsList" value="{{host}}" ng-selected="addrHost==host">{{host}}</option>
			</select>		
		</div>
		<div class="padding subdued">Backup</div>
		<div class="item item-button-right">
		    Backup your Wallet
		    <button class="button button-clear" ng-click="backupWallet()">
		        <i class="icon ion-ios-cloud-download"></i>
		    </button>
		</div>
		<div class="item item-button-right">
		    Import a Wallet
		    <button class="button button-clear" ng-click="chooseImportWallet()">
		        <i class="icon ion-ios-cloud-upload"></i>
		    </button>
		</div>
		<div class="padding subdued">PIN</div>
	    <ion-toggle  ng-model="pin.checked" ng-checked="pin.checked">
			Enable
		</ion-toggle>
	    <ion-toggle  ng-model="touch.checked" ng-checked="touch.checked" ng-if="isIOS()">
			Touch ID 
		</ion-toggle>
		<div class="item item-button-right">
		    Change PIN code
		    <button class="button button-clear" ng-click="openChangeCodeModal()">
		        <i class="icon ion-lock-combination"></i>
		    </button>
		</div> 
		<div class="divider dark" align="center">
			<p>LΞTH v.0.5.1</p>
		</div>
	</ion-scroll>
  </ion-content>
</ion-view>
