<ion-view view-title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
	<div class="list" >
		<h5> Host Provider Address</h5>
		<div class="item item-icon-rigth">
			Network Host Type
			<span class="{{badgeNetwork}}" ng-click="getNetwork()">{{nameNetwork}}</span>
		</div>
		<div class="item item-input">
		    <label class="item-input-wrapper"><input type="text" ng-model="addrHost" placeholder="type host address"></label>
		    <button class="button button-clear" ng-click="editHost(addrHost)">
		        <i class="icon ion-edit"></i>
		    </button>
		</div>
		<h5>  Backup</h5>
		<div class="item item-button-right">
		    Backup your Wallet
		    <button class="button button-clear" ng-click="backupWallet()">
		        <i class="icon ion-ios-cloud-download"></i>
		    </button>		    
		</div>
		<div class="item item-button-right">
		    Import a Wallet
		    <button class="button button-clear" ng-click="confirmImport()">
		        <i class="icon ion-ios-cloud-upload"></i>
		    </button>
		</div>
		<h5> PIN</h5>
		<div class="item item-button-right">
		    Change Code
		    <button class="button button-clear" ng-click="openChangeCodeModal()">
		        <i class="icon ion-lock-combination"></i>
		    </button>		    
		</div>
	    <ion-toggle  ng-model="pin.checked" ng-checked="pin.checked">
			Enabled
		</ion-toggle>
	</div>
  </ion-content>
</ion-view>
