<ion-nav-bar class="bar-assertive">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side="right">
    <button class="button button-clear" on-touch="scanTo()" ng-hide="fromAddressBook">
      <i class="icon ion-ios-camera-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <img ng-src="img/inzhoop-icon.png" ng-click="sendFeedback()" >&nbsp;
    <button class="button button-clear" on-touch="infoSync()">
      <!--i class="{{syncStatus}} {{classNetwork}}"></i-->
      <span class="{{badgeNetwork}} {{syncStatus}}" style="font-size: 8px">{{nameNetwork}}</span>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-assertive {{$root.hideTabs}} ">
  <!-- Home Tab  -->
  <ion-tab title="{{'STORE_TAB' | translate}}" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" href="#/tab/dappleths">
    <ion-nav-view name="dappleths"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="{{'CHAT_TAB' | translate}}" badge="msgCounter" badge-style="badge-assertive" icon-off="icon-chats" icon-on="icon-chats-on" href="#/tab/chats" >
    <ion-nav-view name="chats"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="{{'FRIENDS_TAB' | translate}}" badge="DMCounter" badge-style="badge-assertive" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/friends" >
    <ion-nav-view name="friends"></ion-nav-view>
  </ion-tab>
  <!-- Wallet Tab -->
  <ion-tab title="{{'WALLET_TAB' | translate}}" icon-off="icon-wallet" icon-on="icon-wallet-on" href="#/tab/wallet/">
    <ion-nav-view name="wallet"></ion-nav-view>
  </ion-tab>
  <!-- Address Tab -->
  <ion-tab title="{{'ADDRESS_TAB' | translate}}" icon-off="icon-cardAddress" icon-on="icon-cardAddress-on" href="#/tab/address">
    <ion-nav-view name="address"></ion-nav-view>
  </ion-tab>
  <!-- Settings Tab -->
  <ion-tab  title="{{'SETTINGS_TAB' | translate}}" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
