<ion-modal-view>
  <ion-header-bar class="bar-stable bar-assertive">
    <button  class="button button-clear" ng-click="closeTokenModal()">
      <i class="icon ion-ios-close"></i>
    </button>
    <div class="h1 title">Token definition</div>
  </ion-header-bar>
  <ion-content class="has-header" padding="'true'">
    <div class="item item-badge-right item-divider">
        Network 
        <span class="{{badgeNetwork}}">{{nameNetwork}}&nbsp;</span>
    </div>
    <form name="token" ng-submit="addCustomToken(token)">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Company</span>
        <input type="text" placeholder="Company Name" ng-model="token.company" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Token</span>
        <input type="text" placeholder="Token Name" ng-model="token.name" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Abstract</span>
        <input type="text" placeholder="One sentence abstract" ng-model="token.abstract" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Symbol</span>
        <input type="text" placeholder="Symbol" ng-model="token.symbol" required>
      </label>
      <label class="item item-input item-floating-label  item-avatar-right">
        <img ng-src="{{token.logo}}" ng-show="token.logo"/>
        <span class="input-label">Logo</span>
        <input type="url" placeholder="Logo URL" ng-model="token.logo" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Address</span>
        <input type="text" placeholder="Adress token deployed" ng-model="token.address" required>
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">ABI</span>
        <textarea placeholder="ABI token contract" ng-model="token.ABI" required></textarea>
      </label>
      <button ng-disabled="!token.$valid" class="button button-block button-energized" type="submit">
         <i class="icon ion-ios-checkmark-empty" ng-hide="!login.$valid"></i>&nbsp;Add Token
      </button>
    </div>
    </form>
  </ion-content>
</ion-modal-view>


