<ion-view view-title="Transactions">
<ion-header-bar align-title="left" class="bar-subheader">
    <label class="item-input label-inset">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search.$">
    </label>
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
  <ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher>
    <ion-list can-swipe="true">
    <p ng-show="transactions.length == 0" align="center"><br/>No saved transaction</p>
      <ion-item collection-repeat="t in transactions | filter:{id:sarch}">
        <i class="icon ion-arrow-up-a assertive"></i>
        <h2>{{t.id}}</h2>
        <p>Value: {{t.value}}</p>
        <p>To: {{t.to}}</p>
        <p>Date: {{t.time}}</p>
        <p>From: {{t.from}}</p>
        <ion-option-button class="button-info" ng-click="edit(item)">CheckStatus</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>






