<ion-view view-title="Wallet">
  <ion-nav-buttons side="right">
    <button class="button button-clear" on-touch="scanTo()" ng-hide="fromAddressBook">
      <i class="icon ion-ios-camera"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-bar class="bar-stable bar-assertive">
    <ion-nav-back-button ng-show="fromAddressBook">
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
        <img ng-src="img/inzhoop-icon.png" ng-show="fromAddressBook==false" ng-click="sendFeedback()">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" >
    <!--ion-refresher pulling-txt="load" on-refresh="refresh()"></ion-refresher-->
    <div class="list">
      <div class="item item-divider">
        <i class="icon ion-ios-shuffle-strong"></i>
        Send Payment
      </div>
      <ion-list class="list">
      <ion-item class="item item-thumbnail-left item-icon-right" ng-click="swipeCoin()">
        <img src="img/ethereum-icon.png">
        <labe><b>ΞTH {{balance}}</b></label>
        <p>Eth from main wallet</p>
        <i class="icon ion-chevron-right ion-more"></i>
        <ion-option-button class="button-stable" ng-click="loadCoin($index)">
           <img ng-src="img/inzhoop-icon.png">
        </ion-option-button>
        <ion-option-button class="button-stable" ng-click="loadCoin($index)">
          <img ng-src="img/coinB.png">
        </ion-option-button>
      </ion-item>
      </ion-list>
      <div class="item">
        <form name="wallet">
          <button ng-show="toAdd && addrTo.length"  class="button button-light" ng-click="addAddress(addrTo)">
            <i class="icon ion-person-add positive"></i>
          </button>
          <label class="item item-input item-stacked-label item-button-right item-button-left">
            <span class="input-label">Address To </span>
            <input type="text" ng-model="addrTo" placeholder="Type address or use camera to scan" ng-required="true">
          </label>
          <div class="item  item-input item-select">
            <input type="number" ng-model="amountTo" placeholder="0,00" ng-required="true">
            <select class="item-select padding" ng-model="unit" ng-required="true">
              <option value="1.0e18">Ether</option>
              <option value="1.0e15" selected>Finney</option>
              <option value="1">Wei</option>
            </select>
          </div>
          <button ng-disabled="!wallet.$valid" class="button button-block button-energized"
                  ng-click="confirmSend(addrTo,amountTo,unit)">Send <i class="icon ion-paper-airplane"></i>
          </button>
        </form>
      </div>    
    </div>
  </ion-content>
</ion-view>