<dappleth-header styleclass="bar bar-header bar-energized">
<button class="button button-clear" on-touch="$ionicGoBack()">
  <i class="icon ion-ios-close-outline"></i>
</button>
</dappleth-header >
<dappleth-content>
  <div class="card">
    <div class="item-divider">
        Test deploy
    </div>
    <div class="item item-body">
       Autodeployable DAppleth 
    </div>
  </div>
  <button class="button button-full button-full button-balanced" ng-click="deploy()">
    Deploy
  </button>
  <button class="button button-full button-full button-calm" ng-click="testDeploy()" ng-show="address.length">
    Test invoke
  </button>
</dappleth-content>
<dappleth-footer styleclass="bar bar-footer bar-energized"/>