body {
    background: #dedfde;
    font-family: 'Source Serif Pro', serif;
    background-size: 100%;
}

.content {
    background: #fefefe;
    text-align: center;
    max-width: 600px;
    margin: 90px auto;
    padding: 32px;
    border-radius: 1px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
}

button {
    font-size: 150%;
    font-family: 'Source Serif Pro', serif;
    border: none;
    color: #FFF;
    padding: 10px 40px;
    border-radius: 2px;
    width: 290px;   
    margin-top: 10px; 
    border-bottom: solid #555 3px;
    box-shadow: #ddd 0 2px 2px;
    outline: none;
}

button:active, 
button.pressed {
    border-bottom: none;
    box-shadow: inset rgba(0,0,0,0.5) 0 2px 2px;
    position: relative;
    top: 3px;
}

#results #support ,
button#vote-support {
    background: green;
    border-bottom-color: darkgreen;    
}

#results #opposition, 
button#vote-against {
    background: red;
    border-bottom-color: darkred;
}

button#see-results {
    background: #666;
    width: 584px;
    transition: opacity 1s ease-in-out;    
}

button.pressed {

}

h2 {
    opacity: 0.5;
}

.write {
    position: relative;
    background: #eee;
    padding: 20px 10px;
    border-radius: 2px;
    margin: 0 -32px -32px;
}

#new-proposal {
    font-family: 'Source Serif Pro', serif;    
    font-size: 150%;
    width: 600px;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 2px #ddd;
}

#new-proposal-link {
    position: absolute;
    top: 24px;
    right: 24px;
    background: #333;
    color: #FFF;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 2px;
    display: none;
}

#status {
    position: fixed;
    bottom: 32px;
    left: 0;
    right: 0;
    font-size: 150%;
    opacity: 0.5;
    text-align: center;
}

#results {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#results h3 {
    display: inline-block;
    width: 50%;
    padding: 20px 0;
    color: #FFF;
    width: 1%;
    max-width: 99.5% !important;
    min-width: 0.5% !important;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    transition: width 1s ease-in-out, min-width 1s ease-in-out, max-width 1s ease-in-out;
    text-indent: 8px;
}

#results:hover h3 {
    max-width: 80% !important;
}

#results:hover h3:hover {
    min-width: 20% !important;
    max-width: 99.5% !important;
}

#message {
    display: none;
    padding: 30px;
    font-size: 150%;
    font-style: italic;
}

#add-account {
    display: none;
    background: #333;
    color: #FFF;
    position: fixed;
    top: 90px;
    right: 32px;
    padding: 20px 30px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px;    
}

#add-account:before {
    display: block;
    background: #333;
    transform: rotate(45deg);
    top: -9px;
    width: 20px;
    height: 20px;
    content: " ";
    position: absolute;
    left: 250px;
}



