<dappleth-header class="bar bar-header bar-positive">
<button class="button button-clear" on-touch="$ionicGoBack()">
  <i class="icon ion-ios-close-outline"></i>
</button>
</dappleth-header>
<dappleth-content>
  <div class="card">
    <div class="item-divider">
        <img ng-src="http://www.inzhoop.com/dappleths/dapp_1/logo_full.png">
    </div>
    <div class="item item-body">
       A DAppleth is a light DApp that allow you to intercat with smart contracts directly from this mobile wallet.
    </div>
  </div>
  <button class="button button-block button-positive" ng-click="greet()">
    Why don't you test me?
    <i class="icon ion-thumbsup"></i>
  </button>
  <div class="card" ng-if="call">
      <div class="item-divider" >
        Response {{Dapp.activeApp.Address | strLimit: 15 : 5 }}
    </div>
    <div class="item item-text-wrap">
      {{greeting}}
    </div>
    <a class="item text-right item-icon-right dark" ng-click="clearResponse()">
      <i class="icon ion-ios-close-outline"></i>
      Close
    </a>
  </div>
  <!--dappleth-chat height="330px"/-->
</dappleth-content>
<dappleth-footer class="bar-positive bar bar-footer"/>


