/* Empty. Add your own CSS if you like */
img#headerImage
{
  width: 150px;
  height: 150px;

}
img#headerSetting
{
  width: 50px;
  height: 50px;
}

.no-bmp
{
  border: 0px !important;
  margin: 0px !important; 
  padding: 0px !important;
 
}
.relative-position
{
 position: relative !important;
 top:0px !important;
 right:0px !important;
 /* margin: 0px;*/
 max-width: 65px;
  
}
.full-width
{
	 max-width: 100% !important;
}
.padding-on-borders
{
  padding-right: 16px !important;
  padding-left: 16px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  
}




@-webkit-keyframes shakeit {
0% { -webkit-transform: rotate(0deg) translate(3px, 1px); }
10% { -webkit-transform: rotate(4deg) translate(1px, 4px); }
20% { -webkit-transform: rotate(-4deg) translate(4px, 0px) ; }
30% { -webkit-transform: rotate(0deg) translate(0px, -4px); }
40% { -webkit-transform: rotate(-4deg) translate(-1px, 1px); }
50% { -webkit-transform: rotate(4deg) translate(1px, -4px); }
60% { -webkit-transform: rotate(0deg) translate(4px, -1px); }
70% { -webkit-transform: rotate(4deg) translate(-3px, -1px); }
80% { -webkit-transform: rotate(-4deg) translate(1px, 1px); }
90% { -webkit-transform: rotate(0deg) translate(-3px, -3px); }
100% { -webkit-transform: rotate(4deg) translate(-1px, 4px); }
}
@keyframes shakeit {
0% { transform: rotate(0deg) translate(3px, 1px); }
10% { transform: rotate(4deg) translate(1px, 4px); }
20% { transform: rotate(-4deg) translate(4px, 0px) ; }
30% { transform: rotate(0deg) translate(0px, -4px); }
40% { transform: rotate(-4deg) translate(-1px, 1px); }
50% { transform: rotate(4deg) translate(1px, -4px); }
60% { transform: rotate(0deg) translate(4px, -1px); }
70% { transform: rotate(4deg) translate(-3px, -1px); }
80% { transform: rotate(-4deg) translate(1px, 1px); }
90% { transform: rotate(0deg) translate(-3px, -3px); }
100% { transform: rotate(4deg) translate(-1px, 4px); }
}

.shakeit{
	-webkit-animation-name: shakeit;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-name: shakeit;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.swipe-cards {
  position: fixed;
}


/* 
  ==========================================================================
   Font Awesome Style
  ========================================================================== 
*/

.scrollBg {
  background-color: #efeff4; }

body.keyboard-open .has-footer{ 
bottom: 150;
}


/* 
  ==========================================================================
   Font Awesome Style
  ========================================================================== 
*/

@font-face {
    font-family: 'fontawesome';
    src:url('../font-awesome/fonts/fontawesome-webfont.eot');
    src:url('../font-awesome/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../font-awesome/fonts/fontawesome-webfont.woff') format('woff'),
        url('../font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../font-awesome/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-wallet:before {
    font-family: "fontawesome";
    content: "\f1d1";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
}

.icon-wallet-on:before {
    font-family: "fontawesome";
    content: "\f1d1";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
    -webkit-text-stroke-width:1px;
}

.icon-chats:before {
    font-family: "fontawesome";
    content: "\f0e6";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
}

.icon-chats-on:before {
    font-family: "fontawesome";
    content: "\f086";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
}

.icon-cardAddress:before {
    font-family: "fontawesome";
    content: "\f029";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
}

.icon-cardAddress-on:before {
    font-family: "fontawesome";
    content: "\f029";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
    -webkit-text-stroke-width:1px;

}

.icon-friends:before {
    font-family: "fontawesome";
    content: "\f0c0";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
}

.icon-friends-on:before {
    font-family: "fontawesome";
    content: "\f0c0";
    font-size: 24px;
    line-height: 0px;
    vertical-align: sub;
    -webkit-text-stroke-width:1px;
}

.icon-pay:before {
    font-family: "fontawesome";
    content: "\f0da";
    font-size: 18px;
    line-height: 0px;
    vertical-align: sub;
}
/* 
  ==========================================================================
   Chat Message Style
  ========================================================================== 
*/

.has-chat-header {
  top: 150px; }

.has-chat-footer {
  bottom: 44px; }

.message-list {
  margin-top: 15px;
  padding: 1% 2%; }

.message-wrapper {
  margin-bottom: 9px; }
  .message-wrapper::after {
    content: "";
    display: table;
    clear: both; }

.message {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  max-width: 236px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .message.message-mine {
    float: right;
    background-color: #DCF8C6; }
  .message.message-other {
    float: left;
    background-color: #FFF; }
  .message.message-other::before, .message.message-mine::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
  .message.message-other::before {
    left: -11px;
    background-image: url(../img/message-other.png); }
  .message.message-mine::before {
    right: -11px;
    background-image: url(../img/message-mine.png); }
  .message .message-text {
    padding: 5px 7px;
    word-wrap: break-word; }
    .message .message-text::after {
      content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      display: inline; }
  .message .message-timestamp {
    position: absolute;
    bottom: 2px;
    right: 7px;
    color: gray;
    font-size: 12px; }
  .image {
    width: 32px;
    height: 32px;
    align-self: flex-end;
  }

  .bubble {
    display: flex;
  }
  .bubble-other .message{

  } 

  .bubble-other .image {
    
  }


  .bubble-mine {
    justify-content: flex-end;
  }

  .bubble-mine .message {
  order: 1;
  }

  .bubble-mine .image {
   order: 2;
  }


  .item-chat .last-message-timestamp {
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 14px;
    color: #9A9898; }

  .chat  {
    background-image: url(../img/backgrounds/xmas.png);
    background-color: #E0DAD6;
    background-repeat: no-repeat;
    background-size: 100%; }

  .chatDapp  {
    background-image: url(../img/backgrounds/xmas.png);
    background-color: #E0DAD6;
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 300px;}

  .footer-chat .item-input-wrapper {
    background-color: #FFF; }
  .footer-chat .button.button-icon {
    margin: 0 10px; }
  .footer-chat .buttons-seperator {
    color: gray;
    font-size: 18px;
    line-height: 32px; }

/* 
  ==========================================================================
   Bot Style Dappleth Templates
  ========================================================================== 
*/
.dappleth-title {
  color: #fff;
  display: inherit;
  font-size: 17px;
  line-height: 44px;
  margin: 0 25px;
  width: 100%; }

.has-dappleth {
  top: 87px; }

.bot-list {
  margin-top: 12px;
  padding: 1% 2%; }

.bot-wrapper {
  margin-bottom: 9px; }
  .bot-wrapper::after {
    content: "";
    display: table;
    clear: both; }

.bot {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  max-width: 236px;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .bot.bot-mine {
    float: right;
    background-color: #DCF8C6; }
  .bot.bot-other {
    float: left;
    background-color: #FFF; }
  .bot.bot-other::before, .bot.bot-mine::before {
    content: "";
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; }
  .bot.bot-other::before {
    left: -11px;
    background-image: url(../img/message-other.png); }
  .bot.bot-mine::before {
    right: -11px;
    background-image: url(../img/message-mine.png); }
  .bot .bot-text {
    padding: 5px 7px;
    word-wrap: break-word; }
    .bot .bot-text::after {
      content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
      display: inline; }
  .bot .bot-timestamp {
    position: absolute;
    bottom: 2px;
    right: 7px;
    color: gray;
    font-size: 12px; }
  .botimage {
    width: 32px;
    height: 32px;
    align-self: flex-end;
  }

  .botbubble {
    display: flex;
  }
  .botbubble-other .bot{

  } 

  .botbubble-other .botimage {
    
  }


  .botbubble-mine {
    justify-content: flex-end;
  }

  .botbubble-mine .bot {
  order: 1;
  }

  .botbubble-mine .botimage {
   order: 2;
  }


  .item-dappleth .last-bot-timestamp {
    position: absolute;
    top: 16px;
    right: 38px;
    font-size: 14px;
    color: #9A9898; }

  .dappleth  {
    background-image: url(../img/chat-background.png);
    background-color: #E0DAD6;
    background-repeat: no-repeat;
    background-size: 100%; }

  .footer-dappleth .item-input-wrapper {
    background-color: #FFF; }
  .footer-dappleth .button.button-icon {
    margin: 0 10px; }
  .footer-dappleth .buttons-seperator {
    color: gray;
    font-size: 18px;
    line-height: 32px; }


/* 
  ==========================================================================
   Image viewer style
  ========================================================================== 
*/
  .transparent {
    background: transparent !important;
  }
  .image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
  }
  .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
  }

  /* Fix modal backdrop for smaller devices */
  @media (max-width: 679px) {
    .active .modal-backdrop-bg {
      opacity: .5;
    }
    .modal-backdrop-bg {
      -webkit-transition: opacity 300ms ease-in-out;
      transition: opacity 300ms ease-in-out;
      background-color: #000;
      opacity: 0;
    }
  }



/* 
  ==========================================================================
   Horizontal List
  ========================================================================== 
*/



.categoryBox {
  display: inline-block;
  background-color: white;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
}
.categoryHead {
    text-overflow: ellipsis;
    color: #666;
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: bold;
}

.appBox {
  width: calc(100% / 3);

  box-sizing: content-box;
  overflow: hidden;
  text-align: left;
}

.appSlider {
  -moz-box-orient:horizontal;
  -ms-box-orient:horizontal;
  -webkit-box-orient:horizontal;
  -o-box-orient:horizontal;
  box-orient:horizontal;
  display:-moz-box;
  display:-ms-box;
  display:-webkit-box;
  display:-o-box;
  display:box;

  -webkit-overflow-scrolling: touch;

  list-style-type:none;
  overflow-x: scroll;
}

.appBox .wrapper {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 3px;
}
.appBox .appIco {
  width: 70%;
  border-radius: 20px;
}
.appBox .title {
  margin: 0 0 2px 0;
  font-size: 14px;
  font-weight: normal;
  color: #000;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 0.8;

}
.appBox .description {
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
    margin-bottom: 1px;
}
.appBox .author {
    text-overflow: ellipsis;
    margin: 0 0 2px 0;
    font-size: 10px;
    color: #000;
    font-weight: 500;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    line-height: 0.8;

}

/* 
  ==========================================================================
   Step Start styles
  ========================================================================== 
*/

.stepContainer {
  height: 100%;
}

.step {
  height: 100%;
  padding: 20px;
}

.start{
  background-color: #ef473a !important;}

.startPage {
  background-color: #ef473a !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.importPage {
  background-color: #efeff4 !important;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}

/* 
  ==========================================================================
   Other styles
  ========================================================================== 
*/

.blinking {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {color: transparent;}
  50% {color: white;}
}

@-moz-keyframes blink {
  from, to {color: transparent;}
  50% {color: white;}
}

@-webkit-keyframes "blink" {
  from, to {color: transparent;}
  50% {color: white;}
}

@-ms-keyframes "blink" {
  from, to {color: transparent;}
  50% {color: black;}
}

@-o-keyframes "blink" {
  from, to {color: transparent;}
  50% {color: white;}
}


.platform-ios .scroll-content > .scroll {
  min-height: 101%;
}

.overflow-scroll,
.overflow-scroll.pane {
  overflow-y: auto !important;
}

.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.word {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 10px;
}

